<div class='container'>
	<div class='row'>
		<div class='col-sm'>
			<div *ngFor="let unit of data">
				<ul>
					<li style='font-size: 27px'><b><u><i>{{unit.Unit}}</i></u></b></li>
				</ul>
				<img src="assets/img/{{unit.Unit}}.png">
				<ul>
					<li style='font-size: 27px'><b><i>Costo:</i> {{unit.Cost}}</b></li><br>
					<li style='font-size: 27px'><b><i>Hit Speed:</i> {{unit.Hit_Speed}}</b></li>
				</ul>
				<hr>
			</div>
		</div>
		<div class='col-sm'>
			<form>
				<ul>
					<li style='font-size: 27px'><b><u><i>Add Unit</i></u></b></li>
				</ul>
				<div>
					<p style='font-size: 18px; padding-left: 63px;'><b><u><i><label for="unit">Unit:</label></i></u></b></p>
					<input name="unit" #newUnit>
        </div>
        <br>
				<div>
					<p style='font-size: 18px; padding-left: 63px;'><b><u><i><label for="cost">Cost:</label></i></u></b></p>
					<input name="cost" #newCost>
        </div>
        <br>
				<div>
					<p style='font-size: 18px; padding-left: 48px;'><b><u><i><label for="hitspeed">Hit Speed:</label></i></u></b></p>
					<input name="hit_speed" #newHitSpeed>
        </div>
        <br>
				<button style="margin-left: 30px;" (click)="addUnit(newUnit, newCost,newHitSpeed)"><b><i>Insert new unit</i></b></button>
			</form>
		</div>
	</div>
</div>
